  ----
  Kurento Android SDK. Download
  ----
  ----
  Date
  ----

Download

* Direct download
	
	Following components will be required to integrate Kurento Android SDK. Untar archives and place jar files
	of into the project's lib directory.
	
	* <<{{{http://code.google.com/p/kurento/downloads/detail?name=tururu&can=2&q=}Kurento SDK}}>>: 
	Stand alone tar ball with all libraries and documentation
	 
	* <<{{{http://java.net/projects/jsip/downloads}JAIN-SIP}}>>: Java SIP implementation
	 

* Maven integration

	Kurento Android SDK is Maven based and can be obtained adding following dependencies

+------------------------------------------+

 <dependency>
    <groupId>com.kurento.commons</groupId>
    <artifactId>kc-mediaspec</artifactId>
    <version>${kcMediaSpecVersion}</version>
    <type>jar</type>
    <scope>compile</scope>
 </dependency>
 
 <dependency>
    <groupId>com.kurento.kas</groupId>
    <artifactId>kas-media</artifactId>
    <version>${kasMediaVersion}</version>
    <type>apklib</type>
    <scope>compile</scope>
 </dependency>
 
  <dependency>
    <groupId>com.kurento.commons</groupId>
    <artifactId>kc-mscontrol</artifactId>
    <version>${kcMsControlVersion}</version>
    <type>apklib</type>
 </dependency>
 
 <dependency>
    <groupId>com.kurento.kas</groupId>
    <artifactId>kas-mscontrol</artifactId>
    <version>${kcMsControlVersion}</version>
    <type>apklib</type>
 </dependency>
 
  <dependency>
    <groupId>com.kurento.commons</groupId>
    <artifactId>kas-sipua</artifactId>
    <version>${kasSipUaVersion}</version>
    <type>jar</type>
    <scope>compile</scope>
 </dependency>
 
 <dependency>
    <groupId>com.kurento.commons</groupId>
    <artifactId>kas-sipua-impl</artifactId>
    <version>${kasSipUaImplVersion}</version>
    <type>jar</type>
    <scope>compile</scope>
 </dependency>
 
+------------------------------------------+

	In order to get above dependencies the following repository
	has to be configured

+------------------------------------------+
 <repository>
    <id>kurento-snapshots</id>
    <name>Kurento Snapshot Repository</name>
    <url>http://repository.kurento.com/archiva/repository/snapshots/</url>
    <releases>
       <enabled>false</enabled>
    </releases>
    <snapshots>
       <enabled>true</enabled>
    </snapshots>
 </repository>
 
 <repository>
	<id>kurento-releases</id>
	<name>Kurento Repository</name>
	<url>http://repository.kurento.com/archiva/repository/internal/</url>
	<releases>
		<enabled>true</enabled>
	</releases>
	<snapshots>
		<enabled>false</enabled>
	</snapshots>
</repository>
 
+------------------------------------------+
	
	Kurento Android SDK requires following external libraries, available also as Maven dependencies	

+------------------------------------------+		
 <dependency>
    <groupId>javax.sip</groupId>
    <artifactId>jain-sip-ri</artifactId>
    <version>1.2</version>
    <scope>compile</scope>
 </dependency>	
+------------------------------------------+