   ------
   Kurento Android SDK
   ------
   ------
   Date
   ------

Kurento Android SDK
   
   	Kurento Android SDK (KAS) is a framework enabling seamless integration of
   	video conference capabilities within applications. It is built on open 
   	standards and as such complies with IETF and 3GPP specifications. KAS 
   	supports most popular codecs, like AMR, MP2 audio, H.263 H.264, MPEG4
   	and many more in the near future. 
	
	Kurento Android SDK functions are controlled through an easy and flexible API.
  				
[./images/kurento-android-docs-stack.png] Kurento Android SDK stack
   
    Detailed information on Kurento Android SDK usage can be found in the 
  {{{./developer-guide.html}Kurento Android SDK developer's guide}}. There's
  also a complete  {{{./reference-guide.html} Reference Guide}} for the API
  
  {{{../../kas-softphone/${kasSoftPhoneVersion}}K-Phone}} is a good example
  of Kurento Android SDK capabilities. This is a test application that can
  help in integration procedures or as guidance for new developers.
  
	KAS API consist of two main sections: Control plane and User plane

* Control plane
	
	Provides the User Agent interface for call control. Currently KAS provides
	a SIP based UA.
	   
* User plane

	Implements the media stack control interface. KAS API resembles
	the {{{http://www.jcp.org/en/jsr/detail?id=309}JSR309 Media 
	Server Control API}}, based in two elements that can ebe interconnected:
	NetworkConnection and MediaComponent. NetworkConnection includes relay functions,
	while MediaComponent provides a generic interface
	to multimedia devices, both: presentation and capture.
	All media process complexities are kept hidden to the application,
    that only cares about media distribution topology, connecting 
    physical devices to network interfaces for media transmission and reception.
    Next Figure shows Kurento Android SDK building blocks
	   		

[./images/block-list.png]

   The application layer <joins> blocks using the rules below to define the model of use.
   It is possible to build video soft-phones or applications suited to specific requirements 
   
	   	* <<Connection>>: Media blocks can be connected to each other as far as they share one common
   		media type (audio/video). Media formats are automatically adapted.

		* <<Connection Media>>: Audio and Video channels can be handled independently

		* <<Connection mode>>: Connection can be declared DUPLEX, SEND or RECV
		
	Figure below shows a very simple join example
	
[./images/join-example.png]

* Resources & Community

	Kurento Android SDK is part of {{{http://www.kurento.com}Kurento}}. An End-to-End
	media suite that also includes a {{{http://www.kurento.com/kms}media server}}
    compatible with the {{{http://www.mobicents.org}Mobicents Sip Servlet (MSS)}}
    
    Kurento is intended to be an open initiative and most of its software will be 
    released as open source. Available resources can be found in the 
    {{{http://code.google.com/p/kurento/}community web page}}