   ------
   Kurento Android SDK
   ------
   ------
   Date
   ------

Kurento Android SDK
   
   	Kurento Android SDK (KAS) is a development framework intended to accelerate development of SIP
	applications with video support on Android platform. KAS enable flexible, rapid application
	development, with video conferencing capabilities, through an easy API layer for full user
	control and flexibility.
	
	Kurento Android SDK is built on open standards and as such, complies with IETF and 3GPP
	specifications to create, manage and terminate video conferencing sessions that seamlessly
	integrates within Android Applications. Multimedia sessions are built on most popular codecs
	like AMR, MP2 audio, H.263 H.264, MPEG4 and many more in the near future. 
	
	Kurento Android SDK is incorporated to applications as a standard Android library. Internally
	the SIP and Media stacks are instantiated and controlled through the API as shown in the 
	Figure below.
  				
[./images/kurento-android-docs-stack.png] Kurento Android SDK stack
   
  Detailed information on Kurento Android SDK usage can be found in the 
  {{{./developer-guide.html}Kurento Android SDK developer's guide}}. There's
  also a complete  {{{./reference-guide.html} Reference Guide}} for the API
  
  {{{../../kas-softphone}K-Phone}} is a good example of Kurento Android SDK capabilities.
  This is a test application that can help in integration procedures or as guidance
  for new developers.
  

* SIP User Agent

	  This component comprises a <<Control Plane>> function required by Kurento Android SDK
	  for call control. It is a standard SIP User Agent implementing contact management and 
      call handling. The SIP User Agent manages call negotiation without any external
      intervention from the application layer and instantiates network connections on successful
      call set up.
    
* Media control
	
	 This component implements the <<User Plane function>>. It provides basic
	 multimedia blocks that can be created and inter-connected 
	 by the application. Media Control API is 
     designed around  the <Joinable> interface concept,defined by 
     {{{http://www.jcp.org/en/jsr/detail?id=309}JSR309 Media Server Control API}}.
     All media process complexities are kept hidden to the application,
     that only cares about media distribution topology, connecting physical devices to network
     interfaces for media transmission and reception. Next Figure shows Kurento Android SDK
     building blocks

[./images/block-list.png]

   The application layer <joins> blocks using the rules below to define the model of use.
   It is possible to build video soft-phones or applications suited to specific requirements 
   
	   	* <<Connection>>: Media blocks can be connected to each other as far as they share one common
   		media type (audio/video). Media formats are automatically adapted.

		* <<Connection Media>>: Audio and Video channels can be handled independently

		* <<Connection mode>>: Connection can be declared DUPLEX, SEND or RECV
		
	Figure below shows a very simple join example
	
[./images/join-example.png]

* Resources & Community

	Kurento Android SDK is part of {{{http://www.kurento.com}Kurento}}. An End-to-End
	media suite that also includes a {{{http://www.kurento.com/kurento/kms}media server}}
    compatible with the {{{http://www.mobicents.org}Mobicents Sip Servlet (MSS)}}
    
    Kurento is intended to be an open initiative and most of its software will be 
    released as open source. Available resources can be found in the 
    {{{http://code.google.com/p/kurento/}community web page}}