   ------
   Kurento Android SDK
   ------
   ------
   Date
   ------
   
Test

	This software has been tested with following Android platforms
	
		* Samsung Galaxy II
		
		* Samsung Galaxy I
		
		* Samsung Galaxy ACE
		
		* HTC Desire
		
		* Nexus One

	This software is known to be compatible with following soft-phones
	
		* LinPhone (version 3.4.0)
		